<html>
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="static/js/p5.min.js"></script>
        <script src="static/js/p5.dom.js"></script>
        <script src="static/js/click.js"></script>
        <script src="static/js/character.js"></script>
        <script src="static/js/keyboard.js"></script>
    </head>
    <body>
        <div id="gameboy">
        </div>
        
    
    </body>
   <!-- <script src='static/js/sketch.js'></script> -->
   <script src='static/js/main.js'></script>
   <script src='static/js/draw.js'></script>
</html>
