<html>
    <head>
	<link rel="stylesheet" href="static/css/clear.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="static/js/p5.min.js"></script>
        <script src="static/js/p5.dom.js"></script>
        <script src="static/js/home.js"></script>
        <script src="static/js/navbar.js"></script>
        <script src="static/js/notepad.js"></script>
        <script src="static/js/grid.js"></script>
        <script src="static/js/character.js"></script>
        <script src="static/js/keyboard.js"></script>
        <script src="static/js/view.js"></script>
        <script src="static/js/login.js"></script>
        <script src="static/js/lobby.js"></script>
        <script src="static/js/interface.js"></script>
        <script src="static/js/roomcanvas.js"></script>
        <script src="static/js/room.js"></script>
    </head>
    <body>
        <div id="gameboy">
        </div>
        
    
    </body>
   <!-- <script src='static/js/sketch.js'></script> -->
   <script src='static/js/main.js'></script>
   <script src='static/js/draw.js'></script>
</html>
