<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" 
      type="image/png" 
      href="https://www.shareicon.net/data/512x512/2016/04/05/744963_heart_512x512.png">
    <link href="https://www.holbertonschool.com/level2/holberton.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="description" content="HTML Lab - tweets">
    <meta name="author" content="Madison Burke">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      HTML Lab - Tweets
    </title>
    <script src="colorscheme.js"></script>
  </head>
  <body class="works_on_smartphone" id="body">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <header id="header">
<div class="right">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
      
                        
         <div class="fb-share-button" data-href="http://213.167.242.52" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F213.167.242.52%2F&amp;src=sdkpreparse">Share</a></div>

      </div>
      <ul>
       <li class="logo"><a href="index.html"><img src="https://www.holbertonschool.com/holberton-logo.png" alt="HolbertonSchool" class="small"></a></li>
       <li><a href="index.html">Index</a></li>
       <li><a href="listeners.html">Listeners</a></li>
       <li><a href="themes.html">Themes</a></li>
       <li><a href="clockwork.html">Clockwork</a></li>
       <li><a href="tweets.html">Tweets</a></li>
      </ul>
    </header>
    <main id="main">
     <article id="article"><h1> Tweets </h1>
<blockquote class="twitter-tweet" data-lang="en">
<p lang="en" dir="ltr">
Focus is Physical Essay on Medium
<a href="https://t.co/PW4qJ3oNwl">
https://t.co/PW4qJ3oNwl
</a>
</p> &mdash;
Madison Burke (@JsonBurke)
<a href="https://twitter.com/JsonBurke/status/931015371854958592?ref_src=twsrc%5Etfw">
November 16, 2017
</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

     </article>
     <aside id="aside">
      <div id="disqus_thread">
         <script>
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://htmllab.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
         </script>
         <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
     </div>
     </aside>
    </main>
    <footer id="footer">
      <p>
        Made by <a href="https://twitter.com/@JsonBurke" target="_blank">Madison Burke</a> 
        for <a href="https://www.holbertonschool.com" target="_blank">Holberton School</a>.
      </p>
    </footer>
  </body>
</html>